/* Uncomment blocks to hide them from your landing. */

/*
#landing-image {
  display: none;
}
*/

/*
#landing-title {
  display: none;
}*/

/*
#landing-body {
  display: none;
}
*/

/*
#landing-button {
  display: none;
}
*/

/* Uncomment to disable text selection. */

/*
.landing-element {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*/

/* octiwhale.com */