/* Uncomment blocks to hide them from your landing. */

/*
#landing-image {
  display: none;
}
*/

/*
#landing-title {
  display: none;
}*/

/*
#landing-body {
  display: none;
}
*/

/*
#landing-button {
  display: none;
}
*/

/* octiwhale.com */